#boxSearch-container {
  margin-top: 1em;
}

#boxSearch-container .boxSearch-textfield input {
  text-align: center;
}

#boxSearch-container .boxSearch-startAdornment {
  cursor: pointer;
}

#boxList-container .boxHeader {
  text-align: center;
}

#boxList-container .boxCard-container.boxCard-active {
  background-color: rgba(0, 0, 0, 0.1);
}
