#editBox-container {
  padding-top: 1em;
  padding-bottom: 1em;
}

#editBox-container .editBox-title {
  font-weight: bold;
}

#editBox-container .editBox-title .boxName {
  margin-left: 0.5em;
  font-style: italic;
  text-decoration: underline;
}

#editBox-container .editBox-textfield input {
  text-align: center;
}
